.OuterContainer {
  margin: 40px 40px 0px 40px;
  max-width: 720px;
  padding-top: calc(100% - 80px);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.InnerContainer {
  position: absolute;
  top: 0;
  left: 0;
}